<!DOCTYPE html>
<html lang="en">
<!--Schedule Page Script-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documents - Operación Salud Colima Tamizaje</title>
    <link rel="stylesheet" href="/src/style.css">
    <link rel="stylesheet" href="/src/assets/theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
    <!-- Placeholder for the header -->
    <div id="header"></div> 

    <!-- Main Content -->
    <div id="main-content">
        <h1>Documents</h1>
        <p>This is the main content area for the documents.</p>
    </div>

    <script src="/src/loadHeader.js"></script>
    <script type="module" src="/src/main.js"></script>
</body>
</html>