@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    /*font-family: 'Roboto', sans-serif;*/
    /* margin-bottom: 150px; */
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    min-height: 150px;
    font-size: 13px;
}